.wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    &_top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_bottom {
        justify-content: center;
        gap: 3rem;
        border-top: .1rem solid $color-secondary;

        @include media-tablet {
            justify-content: space-evenly;
        }
    }

    @include media-tablet {
        padding: 2.5rem 0;
    }
    @include media-laptop {
        padding: 4rem 0;
    }
}