.container {
    max-width: $content-width;
    margin: auto;
    padding: 0 1rem;

    @include media-tablet {
        padding: 0 2.5rem;
    }
    @include media-laptop {
        padding: 0 4rem;
    }
}